@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root {
    --cor01: #674baf;
    --cor02: #e882e8;

    --font-headings: "Poppins", sans-serif;
    --font-body: "Open Sans", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: var(--cor01) url(../images/bg-mobile.svg) no-repeat;
    background-size: cover;
}

main {
    min-width: 375px;
    max-width: 600px;
    margin: auto;
}

section {
    padding: 20px 37px;
}

.logo {
    width: 125px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.mockups {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}

h1 {
    color: white;
    font-family: var(--font-headings);
    text-align: center;
    margin-bottom: 10px;
}

p {
    color: white;
    font-family: var(--font-body);
    text-align: center;
    line-height: 24px;
    margin-bottom: 20px;
}

form {
    text-align: center;
}

button {
    background-color: white;
    color: var(--cor01);
    width: 225px;
    font-family: var(--font-body);
    padding: 15px;
    border-radius: 50px;
    border: none;
    margin-bottom: 60px;
}

.icon {
    text-align: center;
}

a {
    text-decoration: none;
}

.fa {
    color: white;
    padding: 10px;
    border: 1px solid white;
    border-radius: 50% 50%;
    margin: 0px 5px;
}

.fa.fa-facebook {
    padding: 10px 13px;
}

.fa.fa-instagram {
    padding: 10px 11px;
}